<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="MaxPhoto" value="30"/>
		<add key="MaxAlbum" value="15"/>
		<add key="Interval" value="60000"/>
		<add key="Marquee" value="7500000"/>    
    <add key="MarqueeTimeInSeconds" value="150"/>
    <add key="Reload" value="14400000"/>
    <!--<add key="Marquee" value="5000"/>-->
    <add key="ftp" value="ftp://127.0.0.1:21"/>
    <add key="root" value="C:\Users\tommy\Desktop\Bulletin\Bulletin\bin\Debug"/>
		<!--<add key="netusename" value="zhouhj920@hotmail.com"/>
		<add key="netpassword" value="857520"/>-->
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
