<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="MaxPhoto" value="30"/>
		<add key="MaxAlbum" value="15"/>
		<add key="Interval" value="60000"/>
		<add key="Marquee" value="7500000"/>
		<!--<add key="netusename" value="zhouhj920@hotmail.com"/>
		<add key="netpassword" value="857520"/>-->
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
